<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24109373113-g5d9mqleect42b5cdtvochgp138nko3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24109373113-g5d9mqleect42b5cdtvochgp138nko3c</string>
	<key>API_KEY</key>
	<string>AIzaSyBVv9y4UEjsbVA72dNd68w9JSyXyXmp9_s</string>
	<key>GCM_SENDER_ID</key>
	<string>24109373113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.myshopping</string>
	<key>PROJECT_ID</key>
	<string>myshopping-c2f35</string>
	<key>STORAGE_BUCKET</key>
	<string>myshopping-c2f35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24109373113:ios:4d707f38df898f1d05ad68</string>
</dict>
</plist>